<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="./style.css" />
<title>{{ page.title }}</title>
</head>
<body>
<header>
RinsRans<br />
Web development
</header>
<nav>
<ul>
<li><a href="./" title="The homepage">Home</a></li>
<li><a href="./projects.html" title="A list of my projects">Projects</a></li>
</ul>
</nav>
<main>
{{ content }}
</main>
<footer>
<a href="mailto:karl.rinser@gmail.com">karl.rinser@gmail.com</a>
</footer>
</body>
</html>