<!DOCTYPE html>
<html lang="en-gb">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="./style.css" />
<title>{{ page.title }}</title>
</head>
<body>
<header>
RinsRans<br />
Extensions für phpBB Foren
</header>
<nav>
<ul>
<li><a href="./" title="The homepage">Home</a></li>
<li><a href="./extensions.html" title="Eine Liste meiner phpBB Extensions">Extensions</a></li>
<li><a href="./howtos.html" title="Anleitungen rund um phpBB Extensions">Howtos</a></li>
</ul>
</nav>
<main>
{{ content }}
</main>
<footer>
<a href="mailto:karl.rinser@gmail.com">karl.rinser@gmail.com</a>
</footer>
</body>
</html>